.App {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    

}
.login-form {
    width: 300px;
    height: 200px;
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
}

button,input,select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
table {
    border: 2px solid forestgreen;
    width: 400px;
    height: 200px;
  }
    
  th {
    border-bottom: 1px solid black;
  }
    
  td {
    text-align: center;
  }