.App {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    

}

.sidebar {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  text-align: center;
  border: 2px solid black;
  border-top: 0;
  display: block;
  }
  
  .sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

hr {
  border-top: 2px solid black;

}
.home-user {
  width: 100%;
  font-size: 24px;
}
.button-style {
    width: 70%;
    background-color: rgb(223, 228, 231);

    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    box-sizing: border-box;
}

.account-content {
  padding-left: 20px;
  padding-top: 40px;
  position: relative;
  left: 230px;
  top: 0;
  height: 100%;
  display: flex;
  width: 1040px;
  flex-wrap: wrap;
}
.account-info {
  margin: 10px;
  background-color: #fff;
  width: 400px;
  height: 200px;
  border: 2px solid black;
  padding: 15px;
}

.container {
  width: 800px; /* Can be in percentage also. */
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  
}
.login-form {
  padding: 15px;
  left: 230px;
  position: relative;
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  ;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}